:root{
--primary-text-color: #2e2f42;    /*NAVY BLUE*/
--secondary-text-color: #434455;  /*Slate*/

--dark-bcground-color: #2E2F42; /*NAVY BLUE*/
--light-background-color: #ffff;   

--accent-color: #4d5ae5;       /*Iris*/
--logo-studio-color: #2e2f42;   /*NAVY BLUE*/

--button-text-color: #ffffff; 
--white-color: #f4f4fd;       

--nav-link-clr-normal: #434455; /*Slate*/
--nav-link-clr-active: #404BBF; /*Ocean*/

--background-color-sections: #F4F4FD;  
--batton-borders-color: #E7E9FC; /* CORNFLOWER*/
}

  body {
  font-family: Roboto, sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--light-background-color);
  }

   .button-cursor {
    cursor: pointer;
    }

  * {
    text-decoration:none;
    list-style: none;
    }
   
  /* Header section*/
    
    .header-page { 
     background-color: var(--light-background-color);
     }
      
      /* Header logo */

     .link {
      text-decoration: none;
      }
      
      .list {
       list-style: none;
       }
      
      .header-web-logo .link { 
       font-family: "Raleway", sans-serif;
       font-weight: 800;
       font-size: 18px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: var(--accent-color);
       }
      
      .header-studio-logo {
       font-family: "Raleway", sans-serif;
       font-weight: 800;
       font-size: 18px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: var(--logo-studio-color);
       }
  
       /* Navigation */

        .list {
         list-style: none;
         }

         .nav-link {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color:var(--primary-text-color);
          text-decoration:none;
          }

          .nav-link:hover,
          .nav-link:focus{
           color: #404bbf;
          }
          
          /* Contacts */

          .address {
          font-style: normal;
          }

          .list {
           list-style: none;
           }
          
          .contacts-link { 
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          align-items: center;
          letter-spacing: 0.02em; 
          list-style: none;  
          color: var(--secondary-text-color);
          }
          
          .contacts-link:hover, 
          .contacts-link:focus {
           color: #404bbf;
           } 
    
        /* Section 2*/
       /*Effective Solutions for Your Business*/

       .main-section {
        background-color:#2E2F42;
        }
        
       .main-headline { 
       color: var(--button-text-color);
       font-weight: 700;
       letter-spacing: 0.04em;
       font-size: 56px;
       line-height: 1.07;
       font-family: "Roboto", sans-serif;
       text-align: center;
       letter-spacing: 0.02em;
       }   
       
       /* Button Text >Order Service<*/
     
       .main-button { 
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        align-items: center;
        cursor: pointer;
        color: var(--button-text-color);
        background-color: var(--accent-color);
        }
     
       .main-button:hover, 
       .main-button:focus {
        background-color: #404BBF;
        }

       /* section 2 */

      .features-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      align-items: normal;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
      }
    
    .features-txt {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

    /*What we are doing. Section 3 */

   .gallery-headline { 
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0,002em;
    font-size: 36px;
    color: var(--primary-text-color);
    }
    
      /*Section 4 */

    .section-team {
      background-color: #F4F4FD;
      }

     .section-headline {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 0.02em;
      color: var(--primary-text-color)
      }

     .section-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      align-items: center;
      letter-spacing: 0.02em;
      color: var(--primary-text-color)
      }

      .section-item {
       background-color: #FFFFFF;
       }

    .section-txt {
     color: var(--secondary-text-color);
     font-size: 16px;
     font-weight: 400;
     font-style: normal;
     line-height: 1.5;
     align-items: center;
     letter-spacing: 0.02em;
     list-style: none;
     }

      .footer-section {
       background-color: var(--dark-bcground-color);
       }
        
      .footer-web-logo {
      font-family: Raleway, sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--accent-color);
      }

      .link {
      text-decoration: none;
      }

      .footer-studio-logo {
      font-family: Raleway, sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--background-color-sections);
      }

     .footer-txt {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      width: 264px;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      }

    /*Portfolio*/
  
    .body {
      font-family: Roboto, sans-serif;
      color: var(--secondary-text-color);
      background-color: var(--light-background-color);
      }
     
    .buttons-cursor {
      cursor: pointer;
      }
     
    * {
      text-decoration:none;
      list-style: none;
       }
      

      /* Header section*/
     
      
       /* Header logo */
       
       .header-web-logo { 
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--accent-color);
        }

        .link {
         text-decoration: none;
         }
   
       
        .header-studio-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-studio-color);
        }
 
       /* Navigation */

       .list {
        list-style: none;
       }
      
      .nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color:var(--primary-text-color);
      text-decoration:none;
      }

      .nav-link:hover, 
      .nav-link:focus {
      color: #404bbf;
      }
       
       /* Contacts */

      .contacts-link {
      text-decoration: none;
      }

       .list {
        list-style: none;
        }
  
       .contacts-link { 
       font-family: Roboto, sans-serif;
       font-size: 16px;
       font-weight: 400;
       line-height: 1.5;
       align-items: center;
       letter-spacing: 0.02em;
       color: var(--secondary-text-color);
       }
      
      .contacts-link:hover, 
      .contacts-link:focus {
       color: #404bbf;
       } 

      /*Filters*/

      .button-menu {
      font-family: inherit;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      align-items: normal;
      text-align: center;
      cursor: pointer;
      color: var(--accent-color);
      background-color:var(--white-color);
      }

      .button-menu:hover, 
      .button-menu:focus {
       color: #FFFFFF;
       }
       
      .button-menu:hover,  
      .button-menu:focus {
       background-color: #404BBF;
       }

      .link {
       text-decoration: none;
       }

       section-title {
       color: var(--primary-text-color);
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
       align-items: center;
       letter-spacing: 0.02em;
       }

      section-txt {
       color: var(--secondary-text-color);
       font-size: 16px;
       font-weight: 400;
       line-height: 1.5;
       align-items: center;
       letter-spacing: 0.02em;
       }

      /* footer section */

      .footer-section {
       color: var(--dark-bcground-color);
       }
        
       .footer-web-logo {
        font-family: Raleway, sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration:none;
        text-transform: uppercase;
        color: var(--accent-color);
        }

        .footer .link {
        text-decoration: none;
        }

       .footer-studio-logo { 
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration:none;
        text-transform: uppercase;
        color: #F4F4FD;
        }

      .footer-txt {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        width: 264px;
        letter-spacing: 0.02em;
        font-style: normal;
        text-decoration: none;
        color: #F4F4FD;
        }
